# Ignore cache directories anywhere in the repo
**/cache/
**/backUp/
*.html
.Rhistory
.RData
*.RData
.Ruserdata
.Rproj.user/
.DS_Store
*.csv
data/
!data/ss3/
!data/ss3/**/
data/ss3/**
!data/ss3/**/control.ss
!data/ss3/**/data.ss
!data/ss3/**/forecast.ss
!data/ss3/**/starter.ss
!data/ss3/**/wtatage.ss

