export(`%||%`)
export(resolveCol)
export(safeNrow)
export(readWarns)
export(addLogn)
export(smoothSeries)
export(mergeLists)
export(addLognormalNoise)
export(rescaleComp)
export(ssAudit)
export(ssBatch)
export(ssBatchOne)
export(ssBuildScenarios)
export(ssCampaign)
export(ssCatch)
export(ssComps)
export(ssCopyTree)
export(ssAsJabba)
export(ssAsTruth)
export(ssDiagJabba)
export(ssDiagSS)
export(ssDiagStandard)
export(ssDiags)
export(ssCompareCurrentState)
export(ssCompareHistorical)
export(ssCompareJabba)
export(ssCompareProduction)
export(ssCompareProjections)
export(ssFitJabba)
export(ssIndex)
export(ssJabbaWorkflow)
export(ssJabbaSlice)
export(ssPlotCurrentState)
export(ssPlotHistorical)
export(ssPlotJabbaComparisons)
export(ssPlotProduction)
export(ssPlotProjections)
export(ssPeCompare)
export(ssPe)
export(ssPeDiagnose)
export(ssModelInfo)
export(ssPreflight)
export(ssReadTruth)
export(ssRun)
export(ssRunSummary)
export(ssScenarios)
export(ssLen)
export(ssU)
export(ssQqLine)
importFrom(methods,setGeneric)
importFrom(methods,setMethod)
importFrom(methods,signature)
importFrom(stats, loess, predict, filter)

